.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-theme-dark);
  color: var(--footer-color);


  
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
    padding: 1% 4% 0;
    user-select: none;

}

.footer-socialLink {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.footer-socialLink__item:hover {
  transform: scale(1.1);
  display: inline-block;
}

.content-list {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  margin-bottom: 10px;
}

.content-item {
  margin-bottom: 15px;
  font-size: 0.9vw;
  cursor: pointer;
}

.footer-service-btn {
  background: transparent;
  border: 1px solid var(--footer-color);
  width: fit-content;
  color: var(--footer-color);
  font-size: 13px;
  margin-bottom: 20px;
  padding: 0.5em;

  &:hover {
    color: var(--white-color);
  }
}

.content-item:hover {
  text-decoration: underline;
}

.footer-copyRight {
  font-size: 11px;
  margin-bottom: 15px;
}

.footer-copyRight a{
  font-size: 11px;
  color: var(--footer-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: var(--white-color);
  }

}


